@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e293b99;
  --foreground: #fffc;
  --grastart: #041726;
  --graend: #0e131f;
  --card-border-color: #e2e8f033;
}

h1 {
  font-size: 3.85rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
  ;
}

p {
  font-size: 1.2rem;
}

a {
  font-size: 1.2rem;
  transition: all 0.2s;
}

a:hover {
  color: #fff;
}