@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-heavy: #151d29;
  --background: #1e293b;

  --foreground: #fffe;
  --foreground-light: #fffa;
  
  --grastart: #0b1120;
  --graend: #0f172b;
  --glow: #0ea5e9;

  --card-border-color: #e2e8f033;
}

h1 {
  font-size: 3.85rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

p {
  font-size: 1.2rem;
}

a {
  font-size: 1.2rem;
  transition: all 0.2s;
}

a:hover {
  color: #fff;
}

/* Animaciones css genericas  */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Presentation card css animations */

@keyframes presentation-card-widening {
  from {
  }
  to {
    width: 100%;
  }
}
